.cards {
    display: flex;
    justify-content: space-around;
    height: 800px;
    align-items: center;
}

.text {
    max-width: 400px;
}

.button {
    background-color: #c322f4;
    color: white;
    font-size: 30px;
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
}